<div class="row menu-buttons" >

	<div class="col-xs-6 col-sm-3">
		<button class="btn btn-primary btn-block">
			<img src="http://placehold.it/64x64" />
			<p>Bar</p>
		</button>
	</div>	
	<div class="col-xs-6 col-sm-3">
		<button class="btn btn-primary btn-block">
			<img src="http://placehold.it/64x64" />
			<p>Line</p>
		</button>
	</div>	
	<div class="col-xs-6 col-sm-3">
		<button class="btn btn-primary btn-block">
			<img src="http://placehold.it/64x64" />
			<p>Radar</p>
		</button>
	</div>	
	<div class="col-xs-6 col-sm-3">
		<button class="btn btn-primary btn-block">
			<img src="http://placehold.it/64x64" />
			<p>Pie</p>
		</button>
	</div>	
	<div class="col-xs-6 col-sm-3">
		<button class="btn btn-primary btn-block">
			<img src="http://placehold.it/64x64" />
			<p>My Charts</p>
		</button>
	</div>	
	<div class="col-xs-6 col-sm-3">
		<button class="btn btn-primary btn-block">
			<img src="http://placehold.it/64x64" />
			<p>Logout</p>
		</button>
	</div>	

</div>